###> gradle ###
/.gradle
/build
###< gradle ###

###> idea ###
/.idea
###< idea ###

###> tpc-h ###
/resources/tpc-h/dbgen/dbgen
/resources/tpc-h/dbgen/qgen
/resources/tpc-h/dbgen/*.o
/resources/tpc-h/dbgen/*.tbl
/resources/tpc-h/dbgen/*.csv
###< tpc-h ###

###> tpc-h-mongo ###
/resources/tpc-h-mongo/executable-queries/*.js
!/resources/tpc-h-mongo/executable-queries/.gitkeep
/resources/tpc-h-mongo/template-queries/*.out
###< tpc-h-mongo ###

###> vars ###
/vars/logs/*.log
!/vars/logs/.gitkeep
###< vars ###